<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex justify-center items-center">
    <div class="w-full max-w-md bg-white p-8 border border-gray-300 rounded shadow-md">
        <h2 class="text-2xl font-bold mb-5 text-center">Set New Password</h2>
        <p class="mb-5 text-center">Please enter your new password below.</p>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="mb-4">
                <label for="new_password1" class="block text-gray-700">New Password</label>
                <input type="password" id="new_password1" name="new_password1" required class="w-full px-4 py-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="new_password2" class="block text-gray-700">Confirm New Password</label>
                <input type="password" id="new_password2" name="new_password2" required class="w-full px-4 py-2 border rounded">
            </div>
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Confirm Password Change
            </button>
        </form>
    </div>
</body>
</html>
